/.idea/
/env/
/save_data/save_data/
*.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# virtualenv
.venv
venv/
